USE [CandidateTestDb]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [FK_ProductCategories_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [FK_ProductCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__3B75D760]
GO
ALTER TABLE [dbo].[Categories] DROP CONSTRAINT [DF__Categorie__Creat__38996AB5]
GO
/****** Object:  Index [IX_ProductCategories_CategoryId]    Script Date: 21-Sep-25 09:37:07 ******/
DROP INDEX [IX_ProductCategories_CategoryId] ON [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21-Sep-25 09:37:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 21-Sep-25 09:37:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategories]') AND type in (N'U'))
DROP TABLE [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21-Sep-25 09:37:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21-Sep-25 09:37:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  User [korisnik]    Script Date: 21-Sep-25 09:37:07 ******/
DROP USER [korisnik]
GO
/****** Object:  User [korisnik00]    Script Date: 21-Sep-25 09:37:07 ******/
DROP USER [korisnik00]
GO
/****** Object:  User [test]    Script Date: 21-Sep-25 09:37:07 ******/
DROP USER [test]
GO
USE [master]
GO
/****** Object:  Database [CandidateTestDb]    Script Date: 21-Sep-25 09:37:07 ******/
DROP DATABASE [CandidateTestDb]
GO
/****** Object:  Database [CandidateTestDb]    Script Date: 21-Sep-25 09:37:07 ******/
CREATE DATABASE [CandidateTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CandidateTestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CandidateTestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CandidateTestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CandidateTestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CandidateTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CandidateTestDb]
GO
/****** Object:  User [test]    Script Date: 21-Sep-25 09:37:08 ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [korisnik00]    Script Date: 21-Sep-25 09:37:08 ******/
CREATE USER [korisnik00] FOR LOGIN [korisnik00] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [korisnik]    Script Date: 21-Sep-25 09:37:08 ******/
CREATE USER [korisnik] FOR LOGIN [korisnik] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [test]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [test]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [test]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [test]
GO
ALTER ROLE [db_datareader] ADD MEMBER [test]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [test]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [test]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_datareader] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [korisnik]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [korisnik]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21-Sep-25 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21-Sep-25 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 21-Sep-25 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21-Sep-25 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StockQuantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250921055619_InitialCreate', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedAt]) VALUES (1, N'Phones', CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedAt]) VALUES (2, N'Laptops', CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedAt]) VALUES (3, N'Accessories', CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (1, 1)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (2, 2)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (4, 2)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Description], [StockQuantity], [CreatedAt]) VALUES (1, N'iPhone 13', CAST(650.00 AS Decimal(18, 2)), N'128GB', 5, CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Description], [StockQuantity], [CreatedAt]) VALUES (2, N'ThinkPad X1', CAST(1500.00 AS Decimal(18, 2)), N'Carbon', 3, CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [Description], [StockQuantity], [CreatedAt]) VALUES (3, N'USB-C Cable', CAST(12.99 AS Decimal(18, 2)), N'1m cable', 50, CAST(N'2025-09-21T06:49:53.9033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_ProductCategories_CategoryId]    Script Date: 21-Sep-25 09:37:08 ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategories_CategoryId] ON [dbo].[ProductCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Products_ProductId]
GO
USE [master]
GO
